<h2>Reactive: Básicos</h2>
<hr>

<div class="row">
    <div class="col">
        <form autocomplete="off" [formGroup]="miFormulario">

            <!-- Campo producto -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Producto</label>
                <div class="col-sm-9">
                    <input 
                        type="text"
                        class="form-control"
                        formControlName="name"
                        placeholder="Nombre del producto">
                    <span 
                        class="form-text text-danger">
                        El producto debe ser de 3 letras o más
                    </span>
                </div>
            </div>
            <!-- Campo precio -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                    <input 
                        type="number"
                        class="form-control"
                        placeholder="Precio del producto">
                    <span 
                        class="form-text text-danger">
                        El precio debe ser igual o mayor a 0
                    </span>
                </div>
            </div>
            <!-- Campo existencias -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Existencias</label>
                <div class="col-sm-9">
                    <input 
                        type="number"
                        class="form-control"
                        name="existencias"
                        placeholder="Existencias del producto">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary float-end">
                        Guardar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="row">
    <div class="col">
        <span>Valid</span>
        <pre>{{ miFormulario.valid }}</pre>

        <span>Pristine</span>
        <pre>{{ miFormulario.pristine }}</pre>

        <span>Touched</span>
        <pre>{{ miFormulario.touched }}</pre>

        <span>Value</span>
        <pre>{{ miFormulario.value | json }}</pre>
    </div>
</div>