<h2>Validaciones Reactivas</h2>
<hr>

<div class="row">
    <div class="col">
        <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="doSubmit()">
            <!-- Nombre -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                    <input type="text" 
                           class="form-control" 
                           formControlName="nombre"
                           placeholder="Nombre del usuario">

                    <span class="form-text text-danger" 
                          *ngIf="campoInvalido('nombre')">Debe ser en formato de nombre y apellido</span>
                </div>
            </div>

            <!-- Email -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="email" 
                           class="form-control" 
                           formControlName="email"
                           placeholder="Email del usuario">
                    
                    <span class="form-text text-danger" 
                           *ngIf="campoInvalido('email')">{{emailErrorMsg}}</span>
                </div>
            </div>

            <!-- Username -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                    <input type="text" 
                           class="form-control" 
                           formControlName="username"
                           placeholder="Código de usuario">

                    <span class="form-text text-danger" 
                           *ngIf="campoInvalido('username')">El username no puede ser strider</span>
                </div>
            </div>

            <!-- Password -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input type="password" 
                           class="form-control" 
                           formControlName="password"
                           placeholder="Contraseña de tu cuenta">
                    
                    <span class="form-text text-danger" 
                           *ngIf="campoInvalido('password')">La contraseña debe tener 6 caracteres o más</span>
                </div>
            </div>

             <!-- Confirmar Password -->
             <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Confirmar</label>
                <div class="col-sm-9">
                    <input type="password" 
                           class="form-control" 
                           formControlName="passwordConfirm"
                           placeholder="Confirma tu contraseña">
                    
                    <span class="form-text text-danger" 
                           *ngIf="campoInvalido('passwordConfirm')">Las contraseñas no coinciden</span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end" type="submit" [disabled]="miFormulario.pending">
                        Crear
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<h6>Form Valid:</h6>
<pre>{{ miFormulario.valid }}</pre>

<h6>Form Status:</h6>
<pre>{{ miFormulario.status}}</pre>

<h6>Form Errors:</h6>
<pre>{{ miFormulario.errors | json }}</pre>

<h6>Nombre</h6>
<pre>{{miFormulario.controls['nombre'].errors | json}}</pre>

<h6>Email</h6>
<pre>{{miFormulario.controls['email'].errors | json}}</pre>

<h6>Username</h6>
<pre>{{miFormulario.controls['username'].errors | json}}</pre>

<h6>Password</h6>
<pre>{{miFormulario.controls['password'].errors | json}}</pre>

<h6>Password Confirm</h6>
<pre>{{miFormulario.controls['passwordConfirm'].errors | json}}</pre>